@import "src/styles/mixins";

.container {
  //margin: 4rem 0;
  min-width: 100rem;
  margin-bottom: 13rem;
  @include for-mobile-only{
    min-width: auto;
    //margin: 1rem 0;
  }
}

.section {
  margin-top: 1.6rem;
}

.sectionName {
  font-weight: bold;
  font-size: 4rem;
  line-height: 4.8rem;
  @include for-mobile-only{
    font-size: 2.4rem;
    line-height: 2.9rem;
    display: flex;
    align-items: center;
  }
}

.sectionSub {
  margin-top: 1.6rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $secondaryTextDark;
}

.nav {

}

.storesCategory {
  margin: 4rem 0;
}

.m {
  margin-right: 1.6rem;
  margin-bottom: 3rem;
}

.row4 {
  width: calc(25% - 1.6rem);
}

.rowMobile {
  @include for-mobile-only{
    width: 100%;
    min-width: 24rem;
    margin: 0 0 3rem 0;
  }
}

.pagination {
  display: flex;
  margin-top: 2.4rem;
  margin-bottom: 13rem;
  align-items: center;
}

.storesCount {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
  width: 50%;
  white-space: nowrap;
}

.hidden {
  @include for-mobile-only{
    display: none;
  }
}

.backArrow {
  margin-right: 1.9rem;
  display: none;
  @include for-mobile-only{
    display: flex;
    min-width: 2rem;
  }
}

.loadContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.loadMoreButton {
  width: 35rem;
  @include for-mobile-only{
    width: 100%;
  }
}

.loadMoreButton.disabled {
  pointer-events: none;
  border-color: #757575;
  color: #757575;
}

.testBody {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-row-gap: 0.8em;
  grid-column-gap: 1.6rem;
}

.testChild {
  padding: 2rem;
  border-radius: 2rem;
  background-color: #F6F7FB;
  box-sizing: border-box;
  cursor: pointer;
}