.info {
  display: inline-block;
  padding: 0.5em 1em;
  position: relative;
  cursor: pointer;
}

.popover {
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  position: absolute;
  display: inline-block;
  padding: 1.6rem;
  width: 100%;
  z-index: 1;
  background-color: white;
  color: black;
}

.left {
  right: 110%;
  top: -25%;
}
.top {
  left: 0;
  bottom: 110%;
}
.bottom {
  left: -15%;
  top: 110%;
}
.right {
  left: 110%;
  top: -25%;
}

.hidden {
  //display: none;
}
