@import "src/styles/mixins";

.thumb{
  width: 6rem; /*100 - 2px * 2 border*/
  box-sizing: border-box;
  min-height: 6rem;
  border-radius: 1.4rem;
  background-color: $accent-1;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 2px solid rgb(255, 255, 255);
  overflow: hidden;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }
  @include for-mobile-only {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.active{
  border-color:$primary;
  transition: border-color 0.15s ease-in-out;
}
