.root{
  display: flex;
  height: 22px;
  align-items: center;
}

.circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 0 3px white, 0 0 0 5px currentColor;
}

.completed{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 1;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
