@import "src/styles/mixins";

.controls{
  display: flex;
  justify-content: space-between;
  padding-top: 2.8rem;
  flex: 1 0 auto;
  align-items: flex-end;
  max-width: 840px;
  margin-top: auto;

}

.forms{
  display: flex;
  flex-direction: column;
}

.map{
  flex: 1 0 33%;
  margin-left: 4rem;
  justify-self: flex-end;
  width: calc(100% - 4rem);
  height: 400px;
  border-radius: 4rem 0 0 4rem;
  border: solid 2px $dividerBlack;
  overflow: hidden;
}

.root{
  h1{
    margin-bottom: 4rem;
  }
}
