@import "../../styles/mixins.scss";

@mixin getMargins($size) {
    margin-left: -$size;
    padding: 1rem $size + .5rem;
    width: calc(#{$size} + 100%);
}

.thumb-large{
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover{
        transform: scale(1.1);
    }
}

.thumb-small{
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover{
        transform: scale(1.1);
    }
}

.thumb{
    margin: 1rem;
    width: 80%;
    height: auto;
    border-radius: 1.4rem;
    background-color: $accent-1;
    background-repeat: no-repeat;
    background-size: 75% auto;
    background-position: center;
    border: 2px solid rgb(255, 255, 255);
    flex: 0 0 auto;
    cursor: pointer;

}

.description{
    margin-left: 1rem;
    margin-top: 0.6rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    width: 10.5rem;
    margin-bottom: 2rem;
}

.active{
    border-color: $primary;
    color: $primary;
    transition: border-color 0.15s ease-in-out;
}