@import "../../../../styles/base.scss";

.actions {
  width: 100%;
}

.commentsButton {
  width: fit-content;
  cursor: pointer;
  margin-right: 1.6rem;

  &:hover {
    color: $primary
  }
}

.edit {
  color: $mainTextDark;
  margin-right: 4rem;
  cursor: pointer;
  font-weight: 600;
}

.delete {
  color: #EB4F5A;
  cursor: pointer;
  font-weight: 600;
}

.replyContainer {
  display: flex;
  flex-direction: column;
  margin: 1.6rem 0;
}

.buttonsRow {
  margin-top: 1.6rem;
}
