@import "src/styles/mixins";

.messageComments {
  display: flex;
  margin-top: 1.6rem;
}

.userPic {
  display: flex;
  width: 4.4rem;
  margin-right: 1.6rem;
  box-sizing: border-box;
}

.avatar{
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
}

.reply {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  flex: 1 1 auto;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: .8rem;
}

.name {
  display: flex;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
}

.message {
  margin-bottom: 1.6rem;
}

.text {
  max-width: 60rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: $mainTextDark;
}

.commentaryContainer {
  width: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
  .edit {
    color: $mainTextDark;
    margin-right: 4rem;
    cursor: pointer;
  }
  .delete {
    color: #EB4F5A;
    cursor: pointer;
  }
}

.reply-likes {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.commentsButton {
  width: fit-content;
  cursor: pointer;
  margin-right: 1.6rem;
  &:hover {color: $primary}
}

.toggleButton {
  width: fit-content;
  cursor: pointer;
  margin-right: 1.6rem;
  &:hover {color: $primary}
  margin-top: 1.6rem;
}

.likesContainer {
  display: flex;
  white-space: nowrap;
  margin-left: 1rem;
  .count {
    padding: 0 1rem;
    display: flex;
    font-size: 16px;
    line-height: 16px;
    color: #1A202C;
    align-items: center;
    cursor: pointer;
  }
  .size {
    margin-right: .4rem;
  }
}

.cancel {
  margin-left: 1.6rem;
  color: gray;
}

.buttonsRow {
  margin-top: 1.6rem;
}

.replyContainer {
  margin-top: 1.6rem;
}

.actionContainer {
  display: flex;
  justify-content: space-between;
  padding-left: 6rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
}