@import "../../../styles/base.scss";
@import "src/styles/mixins";

.wrapper{
    position: relative;
    max-width: 35rem;
    margin: 0 auto;

    &:hover .icons {
        opacity: 1;
    }
}

.icons{
    position: absolute;
    left: 1.6rem;
    top: 1.6rem;
    width: 2.4rem;
    transition: all 0.2s ease-in-out;
    z-index: 20;
    opacity: 0;
    cursor: pointer;
    svg{
        width: 2.4rem;
        height: 2.4rem;
        margin-bottom: 1rem;
    }
}

.icon {
    filter: drop-shadow(0px 5px 3px rgba(0,0,0,.2));

    path[stroke]{
        stroke: $darkBgColor;
        fill-opacity: 0;
    }
    path[fill]{
        fill: $darkBgColor;
    }
    &:hover{
        path[stroke]{
            stroke: $primary;
            fill-opacity: 0;
        }
        path[fill]{
            fill: $primary;
        }
    }
}

.discount{
    position: absolute;
    background-color: $primary;
    font-weight: 700;
    color: white;
    border-radius: 24px;
    font-size: 14px;
    display: flex;
    align-items: center;
    pointer-events: none;
    border: 2px solid #FFFFFF;
    padding: 8px 16px;
    top: 1.6rem;
    right: 0;
    z-index: 1;

}.favorites{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
    //display: none;
}


.media{
    position: relative;
    border-radius: 2rem;
    width: 96%;
    height: 0;
    padding-bottom: 100%;
    margin-bottom: 2rem;
    background-color: $accent-1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75% auto;
    @include hover-scale();
    cursor: pointer;
}

.name{
    font-size: clamp(1.7rem, 5.3vw, 2rem);
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    margin-bottom: 2rem;
    min-height: clamp(3.4rem, 9.6vw ,4.8rem);
}

.bonus{
    position: absolute;
    bottom: 0;
    padding: clamp(2px, 0.625vw, 8px) clamp(4px, 1.25vw,16px);
    background-color: rgba(255, 255, 255, 0.4);
    color: #2975FF;
    border-radius: 24px;
    font-size: clamp(12px, 3.75vw, 14px);
    line-height: 24px;
    font-weight: 700;
    z-index: 10;
    backdrop-filter: blur(4px);
}

.prices{
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
}

.price{
    color: $primary;
    font-weight: 600;
    font-size: 2rem;
}

.oldprice{
    padding-left: 0.5em;
    font-size: 14px;
    font-weight: 600;
    color: #CACACA;
    text-decoration-line: line-through;
    overflow: hidden;
    text-overflow: ellipsis;
}

.feedback{
    margin-top: 1rem;
    margin-bottom: 0.8rem;
    font-size: 1.6rem;
    color: $secondaryTextDark;
    font-weight: 500;
}

.card-button{
    @include for-mobile-only{
        margin: 1rem 0 !important;
        width: 100% !important;
        font-size: 1.6rem !important;
        height: 3.9rem;
    }
}

.mod {
    display: flex;
    align-items: center;
    &:not(:last-child) {
        margin-bottom: .8rem;
    }
}

.mod_title {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: $secondaryTextDark;
    margin-right: .8rem;
}

.color_mod {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 50%;
    &:not(:last-child) {
        margin-right: .8rem;
    }
}