//@import "swiper/swiper-vars.scss";

.Catswiper-button-next {
  position: absolute;
  top: 50%;
  width: 46px;
  height: 46px;
  margin-top: calc(0px - (44px / 2));
  z-index: 9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #222222;
  -webkit-tap-highlight-color: transparent;
  //border-radius: 19px;
  &:not(:last-child) {
    margin-right: 0;
  }
  &.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }
  &:after {
    font-size: 20px;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }
}

.Catswiper-button-prev {
  position: absolute;
  top: 50%;
  width: 46px;
  height: 46px;
  margin-top: calc(0px - (44px / 2));
  z-index: 9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #222222;
  -webkit-tap-highlight-color: transparent;
  //border-radius: 19px;
  &:not(:last-child) {
    margin-right: 0;
  }
  &.swiper-button-disabled {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }
  &:after {
    font-size: 20px;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
  }
}

.Catswiper-button-prev,
.swiper-rtl .Catswiper-button-next {
  &:after {
    content: '';
    background-image: url('../../assets/Icons/arrow-l.svg');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
  }
  left: 0;
  right: auto;
}
.Catswiper-button-next,
.swiper-rtl .Catswiper-button-prev {
  &:after {
    content: '';
    background-image: url('../../assets/Icons/arrow-r.svg');
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
  }
  right: 0;
  left: auto;
}

.swiper-button-lock {
  display: none;
}
