@import "src/styles/mixins";

.storesGrid {
  margin-top: 4rem;
  margin-bottom: 3rem;
}

/*
.storesContainer {
  display: block;
  width: 100%;
  padding: 1.6rem;
  border-radius: 2rem;
  background-color: $accent-1;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 24rem;
  max-width: 50rem;
  &:hover {
    background-color: #f1f2f6;
  }
}*/
