@import "src/styles/mixins";

.wrapper{
    display: flex;
    align-items: center;
    white-space: nowrap;
    cursor: pointer;
    flex-wrap: nowrap;
    margin: 0.5rem;
    &:hover {
        path[stroke]{
            stroke:$primary;
        }
        path[fill]{
            fill: $primary;
        }
        span {
            color: $primary;
        }
    }
    @include for-mobile-only{
        flex-direction: row;
        padding-right: 1rem;
    }
}

.size {
    display: flex;
    flex: 0 0 24px;
    //height: 24px;
    svg {
        height: 2.4rem;
    }
}

.text{
    color: $secondaryTextDark;
    margin-left: 10px;
    font-weight: 700;
    //line-height: 24px;
    text-decoration: none;
}

.icon{
    color: white;
    path[stroke]{
        stroke:$secondaryTextDark;
    }
    path[fill]{
        fill: $secondaryTextDark;
    }
}

.iconactive{
    path[stroke]{
        stroke: $primary;
    }
    path[fill]{
        fill: $primary;
    }
}

.active{
    //color: $primary;
}