@import "src/styles/mixins";

.root{
  position: absolute;
  min-height: 3rem;
}

.history{
  &:hover {
    color: $primary;
    background-color: inherit;
  }
}

.history-item{
  display: flex;
  align-items: center;
  svg{
    margin-right: 1rem;
  }

}