.wrapper {
  width: 100%;
}

.slider {
  display: flex;
  justify-content: center;
}

.inputGroup {
  display: flex;
  margin: 0 -0.8rem;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.filter-title {
  margin-left: 1.9rem;
}

.formContainer {
  margin-top: 3.5rem;
}